*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(./img/hotelEntrada.jpg); */
    background-color: #423210ad;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.encabezado {
    background-color: rgb(221, 221, 197);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.containerBtn { 
    display: flex;
    gap: .3em;
}

.btn-head {
    background-color: #423210ad;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 120px;
    margin-left: 3px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.7s;
}

.btn-head:hover {
    background-color: #ffffff;
    color: #423210ad;
}


/* .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
} */

.titulo {
    background-color: #D88D01;
    width: 20em;
    height: auto;
}


h1 {
    font-size: 1.8em;
    text-align: center;
}

img {
    background-color: #D88D01;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-img {
    min-height: 100vh;
    background-image: url(./img/Hote_img_principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* h2, h3{
    padding: 10px;
} */

.container-txt{
    background-color: #D88D01;
}

.bienvenidos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.contacto{
    display: flex;
    padding: 20px;
}

.container-medio {
    background-color: rgb(221, 221, 197);
    display: flex;
    /* justify-content: center; */
    padding: 1em 0 10em 0;
    align-items: center;
    gap: 1em;
}

.habitaciones {
    background-color: rgb(72, 100, 123);
    /* padding: 15em; */
    width: 30em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    background-color: rgb(74, 74, 52);
    padding: 12px 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marca {
    color: aliceblue;
}
