*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ----------  NAV  --------------- */

.encabezado {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.encabezado #botMenu {
    display: none;
}

.encabezado label {
    display: none;
}


.encabezado ul {
    list-style: none;
    display: flex; /* por defecto tiene "flex-direction: row;" */
    /* gap: 10px; */
}


/*  --------  BOTONES TIPO LISTA -------------
.encabezado ul li {
    border-right: 1px solid #644d30;
    padding: 10px 0;
    transition: .4s ease-in-out all;
}

.encabezado ul li a {
    text-decoration: none;
    cursor: default;
    padding: 30px 20px;
    color: #644d30;
}

.encabezado ul li:hover {
    nav-down: 20px;
} */

/* .encabezado ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}  

--------END   BOTONES TIPO LISTA -------------  */

/* .containerBtn { 
    background-color: aqua;
    display: flex;
    gap: em;
} */

.btn-navBar {
    background-color: #644d30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 120px;
    margin-left: 3px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 400ms;
}

.btn-navBar:hover {
    background-color: #644d3040;
    color: #644d30;
}


.titulo {
    /* background-color: #D88D01; */
    width: 20em;
    height: auto;
}


.titulo h1 {
    font-size: 2em;
    text-align: center;
    color: #644d30;
}

/* ----------  END NAV  --------------- */

.container-img {
    min-height: 100vh;
    background-image: url(./img/Hote_img_principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-contacto{
    min-height: 70vh;
    background-image: url(./img/hotelEntrada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* h2, h3{
    padding: 10px;
} */

.container-txt{
    background-color: #4e3609;
}

.text {
    font-size: 1.8em;
    text-align: center;
    color: #ffffff;
}

.bienvenidos {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: .6em;
}

.contacto{
    display: flex;
    padding: 20px;
}

.container-medio {
 background-color: rgb(221, 221, 197);
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;


}

.habitaciones {
    background-color: rgb(72, 100, 123);
    width: 33%;    
}

img {
    display: block;
    width: 100%;
    height: auto;

}

.content-servicios-principal {
    background-color:  rgb(221, 221, 197);
    display: flex;  
    align-items: center;
    padding: 4em;

}

.content-servicios-principal p{
    font-size: 3em;
    padding: 1em .2em;
    border-left: 3px solid #644d30;
}


.content-servicios ul{
    background-color: #644d30;
    display: flex;
    justify-content: space-evenly;
}

.servicios {
    list-style: none;
}

.content-wifi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 1em;
    filter: invert(95%);
}

.link-wifi {
    transition: 400ms;
}

.link-wifi:hover {
    filter: invert(35%);
} 


.icon-serv {
    width: 3.2em;
} 


.conocernos {
    background-color: #ffffff;
    padding: 15em;
}
 


.footer {
    background-color: rgb(74, 74, 52);
    padding: 12px 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marca {
    color: aliceblue;
}
