@font-face {
    font-family: font-hab;
    src: url(../font/Cursiva.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.container-img {
    min-height: 100vh;
    background-image: url(../img/habitaciones/imagen4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-img .container-txt {
    width: 35%;
    padding: 4em;
    backdrop-filter: blur(3px);
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
}

.text h2{
    font-family: Helvetica, sans-serif;
    letter-spacing: .4em;
    color: rgb(151, 151, 62);
    font-size: .5em;
}

.container-img-text {
    min-height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/habitaciones/madera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #332515;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-medio {
    background-color: #eeeeee1f;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    color: whitesmoke;
    padding: 10px;
}

.text-medio p {
    /* background-color: #2196F3; */
    padding: .2em;
}

.hab-paramount {
    background-color: whitesmoke;
    padding: 3em;
}

.hab-paramount p {
    /* background-color: rgb(54, 145, 114); */
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 20px;
    border-left: 1px solid #644d30;
}


.opciones {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.habitacion {
    flex-basis: calc(25% - 1rem);
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 228, 211);
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.habitacion:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2%);
}


.habitacion img {
    width: 100%;
    max-width: 1100px;
    filter: grayscale(1);
    transition: all 400ms ease;
}

.habitacion img:hover {
    filter: grayscale(0);
}

.habitacion h1 {
    /* background-color: aquamarine; */
    font-size: 1.3em;
    font-family: font-hab;
    color: #4c5e7c;
    letter-spacing: 1px;
    padding: .5em .3em;
    /* text-align: center; */
}

.habitacion p {
    /* background-color: aquamarine; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #4c5e7c;
    padding: .8em .4em;
}

.btn-container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn-habitaciones {
    background-color: whitesmoke;
    display: flex;
    width: 10em;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 13px;
    color: #4c5e7c;
    border-radius: 20px;
    border: 1px solid #4c5e7c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

.btn-habitaciones:hover {
    background-color: #4c5e7c;
    color: whitesmoke;
}


.info{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 300ms ease-in-out;
}

.info:target {
    transform: scale(1);
}

.info img {
    width: 45vw;
    max-height: 65vh;
    /* padding: 20px 0; */
}

.detalle {
    background-color: rgba(241, 228, 211, 0.9);
    /* flex-basis: calc(50% - 1rem); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 35%;
    border-radius: 25px;
}

.detalle h1{
    /* background-color: aquamarine; */
    font-size: 1.6em;
    font-family: font-hab;
    color: #4c5e7c;
    letter-spacing: 1.3px;
    /* padding: .5em .3em; */
}

.detalle p {
    background-color: #0242281e;
    width: 60%;
    text-align: center;
    padding: 2em 6em;
    border-radius: 15px;
    color: #4c5e7c;
}

.content-icons-hab ul{
    /* background-color: aquamarine; */
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #81868d;
    list-style: none;
}

.content-icons-hab .content-icons {
    /* background-color: blueviolet; */
    width: 110px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(175, 175, 175);
}

.content-icons-hab .content-icons-ultimo {
    width: 110px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #81868d; */
}

.content-icons-hab .icon-habitacion {
    /* background-color: #4c5e7c; */
    width: 20px;
    color: gray
}


.content-icons-hab li{
    font-size: 12px;
}


.btn-container-info {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn-container-info .btn-info {
    background-color: whitesmoke;
    display: flex;
    width: 15em;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 13px;
    color: #4c5e7c;
    border-radius: 20px;
    border: 1px solid #4c5e7c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

.btn-info:hover {
    background-color: #4c5e7c;
    color: whitesmoke;
}


.container-sugerencias {
    padding: 3em;
}

.container-sugerencias .sugerencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-sugerencias .sugerencias h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3em;
    list-style: none;
}

.container-sugerencias .sugerencias p a{
    text-decoration: none;
    color: rgb(15, 17, 99);
    width: 5em;
    text-align: center;
    padding: 10px;
    transition: all 300ms ease-in-out;
}

.container-sugerencias .sugerencias p a:hover{
    color: #644d30c0;
}


.container-sugerencias .sugerencias p{
    font-family: Helvetica, sans-serif;
    text-align: center;
    letter-spacing: .1em;
    color: rgb(151, 151, 62);
    font-size: 1em;
}

@media(max-width: 1200px) {

    .container-img .container-txt {
        width: 70%;
        padding: 2em;
    }
    
    .text {
        font-size: 1em;
    }
    
    .text h2{
        font-size: .6em;
    }

    .text-medio {
        /* background-color: #eeeeee1f; */
        font-size: 1em;
        padding: 10px;
    }

    .hab-paramount {
        padding: 40px 25px;
    }
    
    .hab-paramount p {
        font-size: 1.5em;
    }


    .opciones {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2em;
    }


    .info img {
        width: 85vw;
        max-height: 80vh;
    }

    .detalle {
        width: 80vw;
        height: 33%;
    }

    .detalle h1{
        font-size: 1.4em;
    }

    .detalle p {
        width: 80%;
        font-size: 14px;
        padding: 1em 3em;
    }

    .content-icons-hab {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content-icons-hab ul{
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }

    .content-icons-hab li {
        font-size: 11px;
    }

    .content-icons-hab .content-icons {
        width: 80px;
        gap: 5px;
    }
    
    .content-icons-hab .content-icons-ultimo {
        width: 80px;
        gap: 5px;
    }

    .btn-container-info .btn-info {
        width: 15em;
        font-size: 10px;
    }

    .btn-info:hover {
        background-color: #4c5e7c;
        color: whitesmoke;
    }

}



@media(max-width: 730px) {

    .opciones {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 3em;
    }

    .info img {
        width: 90vw;
        max-height: 65vh;
    }

    .detalle {
        width: 90vw;
        height: 35%;
    }

    .detalle h1{
        font-size: 1.3em;
    }

    .detalle p {
        width: 80%;
        font-size: 13px;
        padding: 1em 2em;
    }

    .content-icons-hab {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content-icons-hab ul{
        width: 100%;
        padding: 5px;
        font-size: 12px;
    }
    
    .content-icons-hab .content-icons {
        width: 85px;
        gap: 5px;
    }
    
    .content-icons-hab .content-icons-ultimo {
        width: 80px;
        gap: 5px;
    }
    
    .content-icons-hab .icon-habitacion {
        width: 20px;
        color: gray
    }
    
    
    .content-icons-hab li{
        font-size: 9px;
    }
}