* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}


.container-img {
    min-height: 100vh;
    background-image: url(../img/habitaciones/imagen4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-img .container-txt {
    width: 35%;
    padding: 4em;
    backdrop-filter: blur(3px);
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
}

.text h2{
    font-family: Helvetica, sans-serif;
    letter-spacing: .4em;
    color: rgb(151, 151, 62);
    font-size: .5em;
}


.text-medio {
    background-color: #644d30;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    color: whitesmoke;
    padding: 4em 9em;
}

.text-medio p {
    /* background-color: #2196F3; */
    padding: 1em;
}

img {
    max-width: 100%;
}

.habitacion h1 {
    font-size: 150%;
}

.habitacion a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.opciones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.habitacion {
    flex-basis: calc(25% - 1rem);
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detalle {
    flex-basis: calc(50% - 1rem);
}

.detalle a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}