@font-face {
    font-family: font-hab;
    src: url(../font/Cursiva.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}


.container-img {
    min-height: 100vh;
    background-image: url(../img/habitaciones/imagen4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-img .container-txt {
    width: 35%;
    padding: 4em;
    backdrop-filter: blur(3px);
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
}

.text h2{
    font-family: Helvetica, sans-serif;
    letter-spacing: .4em;
    color: rgb(151, 151, 62);
    font-size: .5em;
}

.container-img-text {
    min-height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/habitaciones/madera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #332515;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-medio {
    background-color: #eeeeee1f;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    color: whitesmoke;
    padding: 10px;
}

.text-medio p {
    /* background-color: #2196F3; */
    padding: .2em;
}

.hab-paramount {
    /* background-color: aquamarine; */
    padding: 3em;
}

.hab-paramount p {
    /* background-color: rgb(54, 145, 114); */
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 20px;
    border-left: 1px solid #644d30;
}


.opciones {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.habitacion {
    flex-basis: calc(25% - 1rem);
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 228, 211);
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.habitacion:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2%);
}


.habitacion img {
    width: 100%;
    max-width: 1100px;
    filter: grayscale(1);
    transition: all 400ms ease;
}

.habitacion img:hover {
    filter: grayscale(0);
}

.habitacion h1 {
    /* background-color: aquamarine; */
    font-size: 1.6em;
    font-family: font-hab;
    color: #4c5e7c;
    letter-spacing: 1px;
    padding: .5em .3em;
    /* text-align: center; */
}

.habitacion p {
    /* background-color: aquamarine; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #4c5e7c;
    padding: .8em .4em;
}

.btn-container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn-habitaciones {
    background-color: whitesmoke;
    display: flex;
    width: 10em;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 13px;
    color: #4c5e7c;
    border-radius: 20px;
    border: 1px solid #4c5e7c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

.btn-habitaciones:hover {
    background-color: #4c5e7c;
    color: whitesmoke;
}

/* !   MAS INFO */

.info-prueba{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 300ms ease-in-out;
}

.info-prueba:target {
    transform: scale(1);
}

.info-prueba img {
    width: 65vw;
    max-height: 75vh;
}

.close {
    background: rgba(109, 18, 6, 0.8);
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 40px;
    right: 40px;
    color: rgba(245, 245, 220, 0.8);
    border-radius: 50%;
    text-decoration: none;
}


/* .masInfo {
    background-color: aquamarine;
} */


.info {
    /* background-color: #4c5e7c; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.detalle-img {
    flex-basis: calc(50% - 1rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detalle {
    background-color: rgb(241, 228, 211);
    flex-basis: calc(50% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 2px; */
    border-radius: 50px;
}

/* .detalle:hover {
    margin-left: 100px;
} */

/* .detalle .card {
    background-color: #a3ca46;
    padding: 3em;
} */

.detalle h1{
    /* background-color: aquamarine; */
    font-size: 1.6em;
    font-family: font-hab;
    color: #4c5e7c;
    letter-spacing: 1px;
    padding: .5em .3em;
}

.detalle p {
    background-color: #0242281e;
    width: 60%;
    padding: 2em 6em;
    border-radius: 15px;
    color: #4c5e7c;
}

.content-icons-hab ul{
    /* background-color: aquamarine; */
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #81868d;
    list-style: none;
}

.content-icons-hab .content-icons {
    /* background-color: blueviolet; */
    width: 110px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(175, 175, 175);
}

.content-icons-hab .content-icons-ultimo {
    width: 110px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #81868d; */
}

.content-icons-hab .icon-habitacion {
    /* background-color: #4c5e7c; */
    width: 20px;
    color: gray
}


.content-icons-hab li{
    font-size: 12px;
}



.btn-container-info {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn-container-info .btn-info {
    background-color: whitesmoke;
    display: flex;
    width: 15em;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 13px;
    color: #4c5e7c;
    border-radius: 20px;
    border: 1px solid #4c5e7c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

.btn-info:hover {
    background-color: #4c5e7c;
    color: whitesmoke;
}

/* !   MAS INFO */



@media(max-width: 1200px) {

    .container-img .container-txt {
        width: 70%;
        padding: 2em;
    }
    
    .text {
        font-size: 1em;
    }
    
    .text h2{
        font-size: .6em;
    }

    .text-medio {
        /* background-color: #eeeeee1f; */
        font-size: 1em;
        padding: 10px;
    }

    .hab-paramount {
        padding: 40px 25px;
    }
    
    .hab-paramount p {
        font-size: 1.5em;
    }


    .opciones {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2em;
    }

}



@media(max-width: 730px) {

    .opciones {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 3em;
    }
}